<ion-view id="login" hide-nav-bar="true" cache-view="false">
    <ion-content padding="true" scroll="false">
        <!-- <form> -->
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">

                    <div class="text-center">
                          <div class="logo md-accent-bg">  
                            <img src="img/logo-check-white.png" style="height:40px; width:40px" />
                          </div>  
                    </div>

                    <!-- <form> -->
                        <div class="list">
                            <ion-md-input ng-model='user.email' placeholder="Enter your email" highlight-color="energized"></ion-md-input>
                            <ion-md-input ng-model='user.password' placeholder="Enter your password" highlight-color="energized"></ion-md-input>
                        </div>

                        <button ng-click='onSubmit()' ng-hide='createAccount == true' type='submit' class="button button-block button-positive">
                            Log In
                        </button>

                        <button ng-click='createUser()' ng-show='createAccount == true' type='submit' class="button button-block button-positive">
                            Create Account
                        </button>
                    <!-- </form> -->

                    <div class="row row-no-padding">
                        <div class="col">
                            <button ng-click='sendPasswordReset()' class="button button-clear button-light">
                                Forgot password?
                            </button>
                        </div>

                        <div ng-hide='createAccount == true' class="col text-right">
                            <button ng-click='createAccount =  true' class="button button-clear button-light">
                                Sign up
                            </button>
                        </div>

                        <div ng-show='createAccount == true' class="col text-right">
                            <button ng-click='createAccount =  false' class="button button-clear button-light">
                                Sign in
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </form> -->
    </ion-content>
</ion-view>