<ion-view view-title="Verify Leeo">
  <ion-content>
    <div class='list card'>
      <div class='item item-text-wrap'>
        <p>Please complete an alarm test then upload a screenshot</p>
        <p>- open Leeo app on your phone</p>
        <p>- open the side menu, then click the settings icon next to your home name</p>
        <p>- click "Smoke And CO Alerts", then follow the directions to complete the test</p>
        <p>- once the test is complete take a screenshot, then return to this screen to select it from your gallery</p>
      </div>
      <a class='item item-icon-left assertive' ng-click='selectPhoto()'>
        <i class='icon ion-images'></i>
        Select screenshot
      </a>
  </ion-content>
</ion-view>