<ion-view view-title="Verify Phillips Hue">
  <ion-content>

    <div class='list card'>
      <div class='item item-image text-center'>
        <img style='box-shadow: none; margin: 0 auto; width: 50%' src='img/hue-push-link-btn.png'/>
      </div>
      
      <div class='item text-center'>
        <p>Press the button on your bridge, then click Connect.</p>
      </div>

      <button ng-click='findBridge()' class="button button-full icon-left ion-android-wifi button-assertive">
        Connect
      </button>
    </div>

  </ion-content>
</ion-view>

      
        